<footer class="footer-info">
    <p>© 2022 Sauce - Todos os direitos reservados</p>

    

    <div class="icones-redes-social">
        <span>Siga-nos</span>
        <ul>
            <li>
                <a href="#">
                    <img src="instagram.png" alt="icone do instagram">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="facebook.png" alt="icone do facebook">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="whatsapp.png" alt="icone do whatsapp">
                </a>
            </li>
        </ul>
    </div>
</footer>