<header>
    <!-- Menu global -->
    <nav class="navbar-global">
        <button class="btnShowMenuMobile">
            <span></span>
        </button>

        <div class="logo">
            <img src="/images/sauce.png" alt="image do sauce">
        </div>

        <ul class="navbar-menu">
            <li><a href="/">Home</a></li>
            <li class="item-category-recipes" ><span class="item-recipes">Receitas<i class="fa fa-angle-down fa-lg" aria-hidden="true"></i></span>
                <ul class="categories">
                    <li><a href="/categoria/carnes">Carne</a></li>
                    <li><a href="/">Sopa</a></li>
                    <li><a href="/">Aves</a></li>
                    <li><a href="/categoria/mainCourse">Prato Principal</a></li>
                    <li><a href="/">Lanche</a></li>
                    <li><a href="/">Salada</a></li>
                    <li><a href="/">Dieta</a></li>
                    <li><a href="/categoria/sobremesas">Sobremesa</a></li>
                    <li><a href="/categoria/massas">Massa</a></li>   
                    <li><a href="/">Fruto do mar</a></li>  
                </ul>
            </li>
            <li><a href="/sobre">Sobre</a></li>
            <li><a href="/privacy-policies">Política de privacidade</a></li>
            <li><a href="/contato">Contato</a></li>
        </ul>
        <div class="navItem-search">
            <img src="/images/lupa.png" alt="image da lupa">
        </div> 
    </nav>
    <div id="search-header">
        <button id="search-close">
            <img src="/images/close.png" alt="image do fechar pesquisa">
        </button>
        <h1>Procurando algo especial?</h1>
        <form action="/search" method="get">
            <div>
                <input type="text" name="recipe" id="" placeholder="Pesquise uma receita">
                <button type="submit">
                    <img src="/images/lupa.png" alt="image da lupa de pesquisa">
                </button>
            </div>
        </form>
    </div>  
    <div id="search-shadow"></div>  
</header>