<header>
    <!-- Menu global -->
    <nav class="navbar-global">
        <button class="btnShowMenuMobile">
            <span></span>
        </button>

        <div class="logo">
            <img src="/images/sauce.png" alt="image do sauce">
        </div>

        <ul class="navbar-menu">
            <li><a href="/">Home</a></li>
            <li><a href="/meat">Receitas</a></li>
            <li><a href="#">Sobre</a></li>
            <li><a href="#">Contato</a></li>
        </ul>
        
        <div class="navItem-search">
            <img src="/images/lupa.png" alt="">
        </div>  
        
    </nav>
</header>