*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Container */
.container {
    /* border: 1px solid; */

    display: flex;
    
    flex-direction: column;
    align-items: center;

    background-color: #f7f7f7;
}

header{
    margin-top:0.5rem;
    width: 85%;
    height: 25vh;
    
}

/* Barra de navegação */
.navbar-desktop{
    height: 100%;

    display: flex;
    justify-content: center;

    background-color: #f7f7f7;

    position: relative;
}

/* Div da logo da barra de navegação */
.logo{    
    position: absolute;
    left: 3rem;
    display: flex;
}

/* Imagem da logo da barra de navegação desktop */
.logo > img {
    height: 25vh;
    width: 150px;

}

/* Menu de navegação desktop */
.nav-menu{
    width: 45%;

    display: flex;

    justify-content: center;
    align-items: center;

    gap: 3%;

    list-style: none;
}

/* Lupa de pesquisar */
.nav-menu li:nth-child(5) a > img{
    height: 4vh;
    
}

/* Links do menu de navegação */
.nav-menu li a{
    color: #000000;

    font-size: 1.1em;
    font-weight: bolder;    
    padding: 1rem;
    text-decoration: none;
}

/* Lista de itens do menu */
.nav-menu li {
    padding: 1rem 0
}

/* Efeito na ancora do menu */
.nav-menu li a:hover{
    color: #C40907;
    transition: 0.6s;
}

/* Efeito na lista de itens do menu */
.nav-menu li:hover{
    border-radius: 3px;
    transition: 0.6s; 
    
}


/* Coteudo principal */
main{
    color: #000000d7;

    /* border: 1px solid; */

    background-color: #f7f7f7;
    
    width: 95%;
    min-height: 100%;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;


    /* margin-top: 0.5rem; */
}

/* Seção titulo na Main */
main .title-main {
    /* border: 1px solid; */
    
    width: 60%;
    padding: 1.5rem 2rem;
    margin-top: 1rem;
   
    display: flex;
    flex-direction: column;
    align-items: center;    


    /* position: relative;
    right: 27rem; */
}

/* Descrição na section titulo na Main */
main .title-main p {
    font-size: 1.25rem;
    margin-top: 1.5rem;
}

/* Section pesquisar titulo na Main */
main .section-search {
    /* border: 1px solid; */
    width: 70%;
    height: 7vh;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 1.5rem 0;

}

/* Div na section pesquisar titulo na Main */
main .section-search form div{
    height: 60%;
    border: 3px solid #ff7875;
    border-radius: 3rem;
    display: flex;
    position: relative;
    padding: 0.5rem;
}

/* Input text da <div> na section pesquisar titulo na Main */
main .section-search form div input{
    background-color: #f7f7f7;
    box-shadow: 0 0 0 0;
    outline: 0;
    border: none;
    border-radius: 3rem;
    height: 100%;
    width: 60vw;
    padding-left: 1rem;
    font-size: 1.3rem;

}
/* Botão da <div> na section pesquisar titulo na Main */
main .section-search form div button{
    background-color: transparent;
    border: none;
}

/* Efeito no botão da <div> na section pesquisar titulo na Main */
main .section-search form div button:hover{
    cursor: pointer;
}

/* Image da lupa no botão na section pesquisar titulo na Main */
main .section-search form div button > img{
    height: 4vh;
    width: 2vw;
}

/* Div mais visitados */
main .hight-view{
    /* border: 1px solid; */
    height: 8vh;
    width: 95%;
    margin-top: 3rem;
}


/* Artigo principal */
.article-main{
    /* border: 1px solid; */
    height: auto;
    width: 95%;
    display: flex;
    
    gap: 1%;
    
    position: relative;
}

/* Seção do Artigo principal */
.article-main section{
    /* border: 1px solid; */
    width: 40%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 0.3rem;
    box-sizing: border-box;

    overflow: hidden;

}

/* Figura da seção do Artigo principal */
.article-main section > figure{
    /* border: 1px solid; */
    height: 100%;
    width: 100%;
    overflow: hidden;
}
/* Div dentro do figure da seção do Artigo principal */
.article-main section figure + div{
    color: #000;
    font-weight: bold;
    height: 42px;
    width: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;

    top: 2vh;
    right: 12.8rem;

    opacity: 0.8;
    margin-bottom: 1rem;
}

/* Imagem dentro do elemento <i> da seção do Artigo principal */
.likesMain{
    background-image: url(../images/heartSize24.png);
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;

}


/* Efeito zom na Image da seção do Artigo principal */
.zomImageArticleMain{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.article-main section figure a{
    height: 100%;
    max-width: 100%; 
} 

/* Imagem da seção do Artigo principal*/
.article-main section figure a > img{
    height: 100%;
    width: 100%;
    -webkit-transition: -webkit-transform .5s ease;
    transition: all 1.3s;
    
} 
/* Descrição da seção do Artigo principal*/
.article-main section > p{
    width: 90%;
}

/* Descrição da seção do Artigo principal*/
.article-main section > p{
    margin-top: 0.3rem;
    text-align: justify;
}

/* Data da seção do Artigo principal*/
.article-main section > span{
    margin-top: 0.1rem;
}

/* Titulo da seção do Artigo principal*/
.article-main section > h1{
    font-size: 1.5rem;
}

/* Barra de mais destaque */
.new-recipes{
    /* border: 1px solid; */
    height: 8vh;
    width: 93.8%;

    /* background-color: #e49595; */

    color:#000000d7;

    margin-top: 4rem;

    display: flex;
    align-items: center;
    /* justify-content: center; */

    font-size: 2em;
    font-weight: bold;
}

/* Artigo secundário */
.article-news{
    /* border: 1px solid; */
    width: 95%;
    height: auto;

    display: flex;
    flex-wrap: wrap;
  
    align-items: center;


}

/* Seção do Artigo novidades */
.article-news section{
    /* border: 1px solid; */

    height: auto;
    width: 23.5%;

    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    margin: 0.5rem;
    

    overflow: hidden;
}
/* Figure na Seção do Artigo novidades */
.article-news figure{
    height: 40vh;
    width: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Aconra da Figure na Seção do Artigo novidades */
.article-news section figure > a{
    height: 100%;
    width: 100%;
}

/* Div title na Seção do Artigo novidades */
.article-news section > div{
    color: #000;
    height: 55px;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.8;

    position: relative;
    right: 8rem;
    top: 0.8rem;
    z-index: 2;
}

/* Imagem da seção do Artigo novidades */
.article-news section img{
    height: 100%;
    width: 100%;
    border-radius: 0.3rem;
    -webkit-transition: -webkit-transform .5s ease;
    transition: all 1.3s;
}

/* Descrição da seção do Artigo novidades */
.article-news section > p{
    margin-top: 0.5rem;
    text-align: justify;
    width: 21vw;
}

/* Imagem dentro do elemento <i> da seção do Artigo novidades */
.likesSecondary{
    background-image: url(../images/heartSize24.png);
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
}

/* Efeito zom na Image da seção do Artigo novidades */
.zomImageArticleNews{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* Div categorias de Carnes */
.meat{
    /* border: 1px solid; */
    height: 8vh;
    width: 93.8%;

    color:#000000d7;

    margin-top: 4rem;

    display: flex;
    align-items: center;
    /* justify-content: center; */

    font-size: 2em;
    font-weight: bold;
}

/* Artigo de carnes */
.article-meat{
    /* border: 1px solid; */
    width: 95%;
    height: auto;

    display: flex;
    flex-wrap: wrap;
  
    align-items: center;


    margin-bottom: 3rem;
}
/* Seção do Artigo novidades */
.article-meat section{
    /* border: 1px solid; */

    height: auto;
    width: 23.5%;

    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    margin: 0.5rem;
    

    overflow: hidden;
}
/* Figure na Seção do Artigo novidades */
.article-meat figure{
    height: 40vh;
    width: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Aconra da Figure na Seção do Artigo novidades */
.article-meat section figure > a{
    height: 100%;
    width: 100%;
}

/* Div title na Seção do Artigo novidades */
.article-meat section > div{
    color: #000;
    height: 55px;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.8;

    position: relative;
    right: 8rem;
    top: 0.8rem;
    z-index: 2;
}

/* Imagem da seção do Artigo novidades */
.article-meat section img{
    height: 100%;
    width: 100%;
    border-radius: 0.3rem;
    -webkit-transition: -webkit-transform .5s ease;
    transition: all 1.3s;
}

/* Descrição da seção do Artigo novidades */
.article-meat section > p{
    margin-top: 0.5rem;
    text-align: justify;
    width: 21vw;
}

/* Rodapé com informações */
.footer-info{
    /* border-top: 1px solid; */

    color: #000000;
    background-color: #9f9d9d;

    width: 100%;
    height: 30vh;

    display: flex;
    align-items: center;
    justify-content: space-around;

    margin-top: 1rem;
}

/* Descrição do Copyrigth no Rodapé */
.footer-info div {
    width: 15vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

/* Lista de redes social no Rodapé */
.footer-info div ul{
    display: flex;

    width: 10vw;

    justify-content: center;
    align-items: center;

    list-style: none;
    padding: 0.5rem 0 0 0;

    gap: 8%;

}

/* Imagens de redes social no Rodapé */
.footer-info ul li a > img{
    height: 5vh;
    width: 2vw;
}

/* Icone hamburguer da barra de navegação mobile oculto*/
.icon{
    display: none;
}

/* Barra de navegação mobile oculto*/
.navbar-mobile{
    display: none;
}

/* Formatação para dispositivos de 500px */
@media screen and (max-width: 500px) {
    /* Barra de navegação desktop oculto */
    .nav-menu{
        display: none;
    }

    header{
        /* border: 1px solid; */
        position: relative;
    }

    /* Barra de navegação */
    .navbar-desktop{
        height: 16.5vh;

        display: flex;
        align-items: center;        
        box-sizing: border-box;
    }

    /* Imagem da barra de navegação desktop*/
    .logo > img {
        height: 20vh;
        width: 85px;
    }
    
    /* Div icon da barra de navegação mobile */
    .icon{
        color: #fff;
        background-color: #CB5D5D;
        padding: 2rem;

        display: block;
        position: absolute;
        right: 0;
        top: 0;

        border-radius: 3px;
        border: none;
    }

    /* Efeito da Div icon da barra de navegação mobile */
    .icon:hover{
        cursor: pointer;
        outline: none;
        box-shadow: 0 0 0 0.2pt #e49595;
        border-radius: 1px;
        transition: 1s;

    }
    /* Barra de navegação mobile */
    .navbar-mobile{
        display: block;

        position: absolute;
        background-color: #CB5D5D;

        height: 0;

        position: relative;
        
        top: 0;
        /* border: 1px solid; */
        opacity: 0;
        transition: opacity 1.2s;
    }

    /* Classe para aumentar opacidade da barra de navegação mobile */
    .show{
        opacity: 1 !important;
    }

    /* Classe para aumentar altura da barra de navegação mobile */
    .height{
        height: 31vh;
    }

    /* Lista ul daBarra de navegação mobile */
    .navbar-mobile ul{
        padding: 0;
        height: 31vh;
     
        list-style: none;
        width: 71.8vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
  
    }

    /* Lista ul daBarra de navegação mobile */
    .navbar-mobile ul a{
        text-decoration: none;
        color: #fff;
        
    }

    /* Items li daBarra de navegação mobile */
    .navbar-mobile ul li{
        display: flex;
        align-items:center;
        width: 80vw;
        height: 25vh;
        padding: 0 0 0 1rem;
        box-sizing: border-box;

    }

    /* Efeito dos items li da Barra de navegação mobile */
    .navbar-mobile ul li:hover{
        background-color: #e49595;
        transition: 0.8s;
    }

    /* Artigo secundário da Barra de navegação mobile */
    .article-secondary{
        flex-direction: column;
    }

    /* Imagem do artigo principal da Barra de navegação mobile */
    .article-main section > img{
        height: 45vh;
        width: 75vw;
    }

    /* Artigo principal da Barra de navegação mobile */
    .article-main {
        flex-direction: column;
    }

    /* Seção do artigo secundário da Barra de navegação mobile */
    .article-secondary section{
        height: 90vh;
        width: 65vw;
    }

    /* Imagem da seção do artigo secundário na Barra de navegação mobile */
    .article-secondary section img{
        height: 40vh;
        width: 65vw;
    }

    /* Imagem da seção do artigo secundário na Barra de navegação mobile */
    .article-secondary section button{
        width: 25vw;
    }

    /* Rodapé do artigo secundário na Barra de navegação mobile */
    .footer-info{
        font-size: 0.7rem;
    }

    /* Imagem do rodapé no artigo secundário na Barra de navegação mobile */
    .footer-info ul li a > img{
        height: 3vh;
        width: 3vw;
    }
}