*{
    margin: 0;
}

.container {
    display: flex;
    
    justify-content: center;

    background-color: #e5e5e5;

    height: 100vh;
}

#navbar{
    width: 80vw;
    height: 25vh;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 20px;
    background-color: #e49595;

    position: relative;
    


}

#logo{    
    position: absolute;
    left: 3rem;
    display: flex;
}

#logo > img {
    height: 25vh;
    width: 150px;

}

#nav-menu{
    width: 45%;

    display: flex;

    justify-content: center;
    align-items: center;

    gap: 8%;

    list-style: none;
}
#nav-menu li:nth-child(5){
    display: flex;
}
#nav-menu li:nth-child(5) > img{

    height: 4vh;
}



#nav-menu li a{
    color: black;

    font-size: 1.2em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    

    text-decoration: none;
}


