<!DOCTYPE html>
<html lang="pt">
    <%- include('../partials/head') -%>
<body>    <!-- Container -->
    <div class="container">
        <!-- Barra de Navegação -->
        <%- include('../partials/header') -%>
        <main>
            <!-- Pesquisar -->
            <section class="section-search">
                <form action="">
                    <div>
                        <input type="search" placeholder="Pesquise uma receita">
                        <button>
                            <img src="/images/lupa.png" alt="">
                        </button>
                    </div>
                </form>
            </section>
            <!-- Titulo da Main -->
            <div class="title-main">
                <h1>Bem-vindo ao Sauce!</h1><br>
                <p>Venha conhecer as melhores receitas culinárias com o sabor caseiro. Só no Sauce voce encontra as mais variádas receitas!</p>
            </div>
            <!-- Destaque da semana -->
            <div class="hight-view">
                <h2>Destaques da semana</h2>
            </div>
            <!-- Artigo principal -->
            <article class="article-main">                
                <!-- section-1 -->
                <section>
                    <figure>
                        <a href="">
                            <img id="image-1" src="/images/salada-de-frutas.jpg" alt="">
                        </a>
                    </figure>
                    <div class="title">
                        <h1>Salada de frutas</h1>
                        <div class="stars">
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                        </div>
                    </div>
                </section>
                <!-- section-2 -->
                <section>
                    <figure>
                        <a href="">
                            <img id="image-2" src="/images/Peru-de-Natal.jpg.webp" alt="">
                        </a>
                    </figure>
                    <div class="title">
                        <h1>Peru de Natal</h1>
                        <div class="stars">
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                        </div>
                    </div>
                </section>

                <!-- section-3 -->
                <section>
                    <figure>
                        <a href="">
                            <img id="image-2" src="/images/Cupim-no-forno-fatiado.jpg" alt="">
                        </a>
                    </figure>
                    <div class="title">
                        <h1>Cupim no forno fatiado</h1>
                        <div class="stars">
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                        </div>
                    </div>
                </section>

            </article>
            <!-- Mais destaques -->
            <div class="new-recipes">
                <h2>Novidades</h2>
            </div> 
            <!-- Artigo secundario -->
            <article class="article-news">
                <!-- section-4 -->
                <section>
                    <figure>
                        <a href="">
                            <img id="image-3" src="/images/Yakisoba-de-miojo.jpg.webp" alt="">
                        </a>
                    </figure>
                    <div class="title">
                        <h1>Yakisoba de miojo</h1>
                        <div class="stars">
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                        </div>
                    </div>
                </section>
                <!-- section-5 -->
                <section>
                    <figure>
                        <a href="">
                            <img id="image-4" src="/images/receita-arroz-de-forno-02.jpg" alt="">
                        </a>
                    </figure>
                    <div class="title">
                        <h1>Arroz de forno</h1>
                        <div class="stars">
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                        </div>
                    </div>
                </section>
                <!-- section-6 -->
                <section>
                    <figure>
                        <a href="">
                            <img id="image-5" src="/images/Arroz-Branco-com-camarões.jpg.webp" alt="">
                        </a>
                    </figure>
                    <div class="title">
                        <h1>Arroz branco com camaroẽs</h1>
                        <div class="stars">
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                        </div>
                    </div>
                </section>
                <!-- section-7 -->
                <section>
                    <figure>
                        <a href="">
                            <img id="image-6" src="/images/Bolinho-de-arroz-quatro-queijos.jpg" alt="">
                        </a>                        
                    </figure>
                    <div class="title">
                        <h1>Bolinho de arroz quatro queijos</h1>
                        <div class="stars">
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                        </div>
                    </div>
                </section>      
            </article>
              <!-- Destaques de Carne -->
              <div class="meat">
                <h2>Carnes</h2>
            </div> 
            <article class="article-meat">
                 <!-- section-8 -->
                 <section>
                    <figure id="image-7">
                        <a href="">
                            <img src="/images/receita-de-file-de-tilapia-no-airfryer.webp" alt="">
                        </a>                        
                    </figure>
                    <div class="title">
                        <h1>Filé de Peixe na AirFryer</h1>
                        <div class="stars">
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                        </div>
                    </div>
                </section>
                <!-- section-9 -->
                <section>
                    <figure>
                        <a href="">
                            <img id="image-8" src="/images/Carne-moída-com-molho.jpg.webp" alt="">
                        </a>
                    </figure> 
                    <div  class="title">
                        <h1>Carne moída com molho</h1>
                        <div class="stars">
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                        </div>
                    </div>
                </section> 
                <!-- section-10 -->
                <section>
                    <figure>
                        <a href="">
                            <img id="image-8" src="/images/tambaqui-assado-no-forno.jpg" alt="">
                        </a>
                    </figure>
                    <div  class="title">
                        <h1>Tambaqui assado no forno</h1>
                        <div class="stars">
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                        </div>
                    </div>
                </section>
                <!-- section-11 -->                
                <section>
                    <figure>
                        <a href="">
                            <img id="image-8" src="/images/pernil-assado-helmans.jpg" alt="">
                        </a>
                    </figure>
                    <div class="title"> 
                        <h1>Pernil assado na Helman's</h1>
                        <div class="stars">
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                        </div>
                    </div>
                </section>  
            </article>
        </main>
        <!-- Rodapé -->
        <%- include('../partials/footer') -%>
    </div>
</body>
<script src="/script/index.js"></script>
<title>Home</title>
</html>