<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/index.css">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <!-- Barra de Navegação -->
        <header>
            <nav id="navbar">
                <div id="logo">
                    <img src="../images/sauce.png" alt="image do sauce">
                </div>
    
                <ul id="nav-menu">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Receitas</a></li>
                    <li><a href="#">Sobre</a></li>
                    <li><a href="#">Contato</a></li>
                    <li><img src="../images/lupa.png" alt=""></li>
                </ul>
            </nav>
        </header>

        <!-- Conteúdo principal -->
        <main>
            <article id="article-main">
                <section>
                    <h1>Carne de Lagarto na panela</h1>
                    <span>10/03/2023</span><br>
                    <img src="../images/Lagarto-na-panela-de-pressão.jpg" alt="">

                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate repellendus expedita nam dicta modi distinctio accusantium maxime unde veniam! Id, modi magni dolore natus enim assumenda quia laudantium esse si...</p>

                    <button>Ler mais</button>
                </section>
            </article>

            <!-- Mais destaques -->
            <div id="emphasis">
                <span>Mais destaques</span>
            </div> 

            <!-- Artigo secundario -->
            <article id="article-secondary">
                <section>
                    <h1>Cupim no forno fatiado</h1>
                    <span>10/03/2023</span><br>
                    <img src="../images/Cupim-no-forno-fatiado.jpg" alt="">

                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate repellendus expedita nam dicta modi distinctio accusantium maxime unde veniam! Id, modi magni dolore natus enim assumenda quia laudantium esse si...</p>

                    <button>Ler mais</button>
                </section>

                <section>
                    <h1>Lombo recheado</h1>
                    <span>10/03/2023</span><br>
                    <img src="../images/lombo-recheado.jpg" alt="">

                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate repellendus expedita nam dicta modi distinctio accusantium maxime unde veniam! Id, modi magni dolore natus enim assumenda quia laudantium esse si...</p>

                    <button>Ler mais</button>
                </section>

                <section>
                    <h1>Bolinho de arroz quatro queijos</h1>
                    <span>10/03/2023</span><br>
                    <img src="../images/Bolinho-de-arroz-quatro-queijos.jpg" alt="">

                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate repellendus expedita nam dicta modi distinctio accusantium maxime unde veniam! Id, modi magni dolore natus enim assumenda quia laudantium esse si...</p>

                    <button>Ler mais</button>
                </section>

                <section>
                    <h1>Bombo de Travessa com Frutas</h1>
                    <span>10/03/2023</span><br>
                    <img src="../images/Bombom-de-Travessa-com-Frutas.jpeg" alt="">

                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate repellendus expedita nam dicta modi distinctio accusantium maxime unde veniam! Id, modi magni dolore natus enim assumenda quia laudantium esse si...</p>

                    <button>Ler mais</button>
                </section>

                <section>
                    <h1>Prensado de Frutas com Chocolate</h1>
                    <span>10/03/2023</span><br>
                    <img src="../images/prensado-de-frutas-com-chocolate.jpeg" alt="">

                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate repellendus expedita nam dicta modi distinctio accusantium maxime unde veniam! Id, modi magni dolore natus enim assumenda quia laudantium esse si...</p>

                    <button>Ler mais</button>
                </section>

                <section>
                    <h1>Salada de Frutas</h1>
                    <span>10/03/2023</span><br>
                    <img src="../images/salada-de-frutas.jpg" alt="">

                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate repellendus expedita nam dicta modi distinctio accusantium maxime unde veniam! Id, modi magni dolore natus enim assumenda quia laudantium esse si...</p>

                    <button>Ler mais</button>
                </section>
                
            </article>
        </main>
               
    </div>
</body>
</html>