<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="(max-width: 500px)" href="../style/index.css" />
    <link rel="stylesheet" href="../style/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <title>Home</title>
</head>
<body>
    <!-- Container -->
    <div class="container">
        <!-- Barra de Navegação -->
        <header>
            <!-- Menu desktop -->
            <nav class="navbar-desktop">
                <div class="logo">
                    <img src="../images/sauce.png" alt="image do sauce">
                </div>
    
                <ul class="nav-menu">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Receitas</a></li>
                    <li><a href="#">Sobre</a></li>
                    <li><a href="#">Contato</a></li>
                    <li>
                        <a href="#">
                            <img src="../images/lupa.png" alt="">
                        </a>
                    </li>
                </ul>
            </nav>
            <a class="icon" href="#">
                <i class="fa fa-bars"></i>
            </a>
            <!-- Menu Mobile -->
            <nav class="navbar-mobile">
                <ul>
                    <li>
                        <a href="">Home</a>
                    </li>
                    <li>
                        <a href="">Receitas</a>
                    </li>
                    <li>
                        <a href="">Sobre</a>
                    </li>
                    <li>
                        <a href="">Contato</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <!-- Artigo principal -->
            <article class="article-main">
                <!-- section-1 -->
                <section>
                    <h1>Salada de frutas</h1>
                    <span>10/03/2023</span><br>
                    <figure>
                        <a href="">
                            <img id="image-1" src="../images/salada-de-frutas.jpg" alt="">
                        </a>
                    </figure>
                    <div>
                        <i class="likesMain"></i>
                        <span>328</span>
                    </div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate repellendus expedita nam dicta modi distinctio accusantium maxime unde veniam! Id, modi magni dolore natus enim assumenda quia laudantium esse si...</p>
                </section>
                <!-- section-2 -->
                <section>
                    <h1>Lagarto na Panela de pressão</h1>
                    <span>10/03/2023</span><br>
                    <figure>
                        <a href="">
                            <img id="image-2" src="../images/Lagarto-na-panela-de-pressão.jpg" alt="">
                        </a>
                    </figure>
                    <div>
                        <i class="likesMain"></i>
                        <span>422</span>
                    </div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate repellendus expedita nam dicta modi distinctio accusantium maxime unde veniam! Id, modi magni dolore natus enim assumenda quia laudantium esse si...</p>
                </section>
            </article>
            <!-- Mais destaques -->
            <div class="emphasis">
                <span>Mais destaques</span>
            </div> 
            <!-- Artigo secundario -->
            <article class="article-secondary">
                <!-- section-3 -->
                <section>
                    <h1>Cupim no forno fatiado</h1>
                    <span>10/03/2023</span><br>
                    <figure>
                        <a href="">
                            <img id="image-3" src="../images/Cupim-no-forno-fatiado.jpg" alt="">
                        </a>
                    </figure>
                    <div>
                        <i class="likesSecondary"></i>
                        <span>122</span>
                    </div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate repellendus expedita nam dicta modi distinctio accusantium maxime unde veniam! Id, modi magni dolore natus enim assumenda quia laudantium esse si...</p>
                </section>
                <!-- section-4 -->
                <section>
                    <h1>Lombo recheado</h1>
                    <span>10/03/2023</span><br>
                    <figure>
                        <a href="">
                            <img id="image-4" src="../images/lombo-recheado.jpg" alt="">
                        </a>
                    </figure>
                    <div>
                        <i class="likesSecondary"></i>
                        <span>60</span>
                    </div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate repellendus expedita nam dicta modi distinctio accusantium maxime unde veniam! Id, modi magni dolore natus enim assumenda quia laudantium esse si...</p>

                </section>
                <!-- section-5 -->
                <section>
                    <h1>Lagarto na Panela de pressão</h1>
                    <span>10/03/2023</span><br>
                    <figure>
                        <a href="">
                            <img id="image-5" src="../images/Lagarto-na-panela-de-pressão.jpg" alt="">
                        </a>
                    </figure>
                    <div>
                        <i class="likesSecondary"></i>
                        <span>22</span>
                    </div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate repellendus expedita nam dicta modi distinctio accusantium maxime unde veniam! Id, modi magni dolore natus enim assumenda quia laudantium esse si...</p>
                </section>
                <!-- section-6 -->
                <section>
                    <h1>Bolinho de arroz quatro queijos</h1>
                    <span>10/03/2023</span><br>
                    <figure>
                        <a href="">
                            <img id="image-6" src="../images/Bolinho-de-arroz-quatro-queijos.jpg" alt="">
                        </a>                        
                    </figure>
                    <div>
                        <i class="likesSecondary"></i>
                        <span>55</span>
                    </div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate repellendus expedita nam dicta modi distinctio accusantium maxime unde veniam! Id, modi magni dolore natus enim assumenda quia laudantium esse si...</p>
                </section>
                <!-- section-7 -->
                <section>
                    <h1>Bombo de Travessa com Frutas</h1>
                    <span>10/03/2023</span><br>
                    <figure id="image-7">
                        <a href="">
                            <img src="../images/Bombom-de-Travessa-com-Frutas.jpeg" alt="">
                        </a>                        
                    </figure>
                    <div>
                        <i class="likesSecondary"></i>
                        <span>99</span>
                    </div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate repellendus expedita nam dicta modi distinctio accusantium maxime unde veniam! Id, modi magni dolore natus enim assumenda quia laudantium esse si...</p>
                </section>
                <!-- section-8 -->
                <section>
                    <h1>Prensado de Frutas com Chocolate</h1>
                    <span>10/03/2023</span><br>
                    <figure>
                        <a href="">
                            <img id="image-8" src="../images/prensado-de-frutas-com-chocolate.jpeg" alt="">
                        </a>
                    </figure>
                    <div>
                        <i class="likesSecondary"></i>
                        <span>150</span>
                    </div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate repellendus expedita nam dicta modi distinctio accusantium maxime unde veniam! Id, modi magni dolore natus enim assumenda quia laudantium esse si...</p>
                </section>
            </article>
        </main>
        <!-- Rodapé -->
        <footer class="footer-info">
            <p>© 2022 Sauce - Todos os direitos reservados</p>

            

            <div class="icones-redes-social">
                <span>Siga-nos</span>
                <ul>
                    <li>
                        <a href="#">
                            <img src="../images/instagram.png" alt="icone do instagram">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../images/facebook.png" alt="icone do facebook">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../images/whatsapp.png" alt="icone do whatsapp">
                        </a>
                    </li>
                </ul>
            </div>
        </footer>
    </div>
</body>
<script src="../script/index.js"></script>
</html>