<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="(max-width: 500px)" href="../style/index.css" />
    <link rel="stylesheet" href="../style/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <title>Home</title>
</head>
<body>
    <!-- Container -->
    <div class="container">
        <!-- Barra de Navegação -->
        <header>
            <!-- Menu desktop -->
            <nav class="navbar-desktop">
                <div class="logo">
                    <img src="../images/sauce.png" alt="image do sauce">
                </div>
    
                <ul class="nav-menu">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Receitas</a></li>
                    <li><a href="#">Sobre</a></li>
                    <li><a href="#">Contato</a></li>
                </ul>
                
            </nav>
            <a class="icon" href="#">
                <i class="fa fa-bars"></i>
            </a>
            <!-- Menu Mobile -->
            <nav class="navbar-mobile">
                <ul>
                    <li>
                        <a href="">Home</a>
                    </li>
                    <li>
                        <a href="">Receitas</a>
                    </li>
                    <li>
                        <a href="">Sobre</a>
                    </li>
                    <li>
                        <a href="">Contato</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <!-- Pesquisar -->
            <section class="section-search">
                <form action="">
                    <div>
                        <input type="search" placeholder="Pesquise uma receita">
                        <button>
                            <img src="../images/lupa.png" alt="">
                        </button>
                    </div>
                </form>
            </section>
            <div class="title-main">
                <h1>Bem-vindo ao Sauce!</h1><br>
                <p>Venha conhecer as melhores receitas culinárias com o sabor caseiro. Só no Sauce voce encontra as mais variádas receitas!</p>
            </div>
            
            <div class="hight-view">
                <h2>Destaque da semana</h3>
            </div>
            <!-- Artigo principal -->
            <article class="article-main">                
                <!-- section-1 -->
                <section>
                    <figure>
                        <a href="">
                            <img id="image-1" src="../images/salada-de-frutas.jpg" alt="">
                        </a>
                    </figure>
                </section>
                <!-- section-2 -->
                <section>
                    <figure>
                        <a href="">
                            <img id="image-2" src="../images/Lagarto-na-panela-de-pressão.jpg" alt="">
                        </a>
                    </figure>
                </section>

                <!-- section-3 -->
                <section>
                    <figure>
                        <a href="">
                            <img id="image-2" src="../images/Cupim-no-forno-fatiado.jpg" alt="">
                        </a>
                    </figure>
                </section>

            </article>
            <!-- Mais destaques -->
            <div class="emphasis">
                <h5>Novidades</h5>
            </div> 
            <!-- Artigo secundario -->
            <article class="article-secondary">
                <!-- section-4 -->
                <section>
                    <figure>
                        <a href="">
                            <img id="image-3" src="../images/Cupim-no-forno-fatiado.jpg" alt="">
                        </a>
                    </figure>
                </section>
                <!-- section-5 -->
                <section>
                    <figure>
                        <a href="">
                            <img id="image-4" src="../images/lombo-recheado.jpg" alt="">
                        </a>
                    </figure>
                </section>
                <!-- section-6 -->
                <section>
                    <figure>
                        <a href="">
                            <img id="image-5" src="../images/Lagarto-na-panela-de-pressão.jpg" alt="">
                        </a>
                    </figure>
                </section>
                <!-- section-7 -->
                <section>
                    <figure>
                        <a href="">
                            <img id="image-6" src="../images/Bolinho-de-arroz-quatro-queijos.jpg" alt="">
                        </a>                        
                    </figure>
                </section>      
            </article>
              <!-- Mais destaques -->
              <div class="meat">
                <h5>Carnes</h5>
            </div> 
            <article class="article-meat">
                 <!-- section-8 -->
                 <section>
                    <figure id="image-7">
                        <a href="">
                            <img src="../images/Bombom-de-Travessa-com-Frutas.jpeg" alt="">
                        </a>                        
                    </figure>
                </section>
                <!-- section-9 -->
                <section>
                    <figure>
                        <a href="">
                            <img id="image-8" src="../images/prensado-de-frutas-com-chocolate.jpeg" alt="">
                        </a>
                    </figure>
                </section>
                <!-- section-10 -->
                <section>
                    <figure>
                        <a href="">
                            <img id="image-8" src="../images/prensado-de-frutas-com-chocolate.jpeg" alt="">
                        </a>
                    </figure>
                </section>
                <!-- section-11 -->
                <section>
                    <figure>
                        <a href="">
                            <img id="image-8" src="../images/prensado-de-frutas-com-chocolate.jpeg" alt="">
                        </a>
                    </figure> 
                </section>          
            </article>
        </main>
        <!-- Rodapé -->
        <footer class="footer-info">
            <p>© 2022 Sauce - Todos os direitos reservados</p>

            

            <div class="icones-redes-social">
                <span>Siga-nos</span>
                <ul>
                    <li>
                        <a href="#">
                            <img src="../images/instagram.png" alt="icone do instagram">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../images/facebook.png" alt="icone do facebook">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../images/whatsapp.png" alt="icone do whatsapp">
                        </a>
                    </li>
                </ul>
            </div>
        </footer>
    </div>
</body>
<script src="../script/index.js"></script>
</html>