<!DOCTYPE html>
<html lang="pt">
    <!-- Head -->
    <%- include('../partials/head') -%>
    <title>Meat</title>
<body>
    <div class="container">
         <!-- Header -->
         <%- include('../partials/header') -%>
        <main>
            <!-- Titulo Receitas  -->
            <div class="meat-title">
                <h1>Carnes</h1>
            </div>
            <!-- Artigo de Carnes Principal -->
            <article class="article-main-recipe">
                <section>
                    <figure>
                        <a href="">
                            <img id="image-2" src="/images/Cupim-no-forno-fatiado.jpg" alt="">
                        </a>
                    </figure>
                    <div class="title">
                        <h1>Cupim no forno fatiado</h1>
                        <div class="stars">
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                        </div>
                    </div>
                </section>

                <section>
                    <figure>
                        <a href="/categoria/carne/tambaqui-assado-no-forno">
                            <img id="image-2" src="/images/tambaqui-assado-no-forno.jpg" alt="">
                        </a>
                    </figure>
                    <div class="title">
                        <h1>Tambaqui assado no forno</h1>
                        <div class="stars">
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                        </div>
                    </div>
                </section>

                <section>
                    <figure>
                        <a href="">
                            <img id="image-2" src="/images/Peru-de-Natal.jpg.webp" alt="">
                        </a>
                    </figure>
                    <div class="title">
                        <h1>Peru de Natal</h1>
                        <div class="stars">
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                        </div>
                    </div>
                </section>
            </article>
            <!-- Artigo de Carnes Secundário -->
            <article class="article-second-recipe">
                <!-- section-8 -->
                <section>
                   <figure id="image-7">
                       <a href="">
                           <img src="/images/receita-de-file-de-tilapia-no-airfryer.webp" alt="">
                       </a>                        
                   </figure>
                   <div class="title">
                       <h1>Filé de Peixe na AirFryer</h1>
                       <div class="stars">
                           <i></i>
                           <i></i>
                           <i></i>
                           <i></i>
                           <i></i>
                       </div>
                   </div>
               </section>
               <!-- section-9 -->
               <section>
                   <figure>
                       <a href="">
                           <img id="image-8" src="/images/Carne-moída-com-molho.jpg.webp" alt="">
                       </a>
                   </figure> 
                   <div  class="title">
                       <h1>Carne moída com molho</h1>
                       <div class="stars">
                           <i></i>
                           <i></i>
                           <i></i>
                           <i></i>
                           <i></i>
                       </div>
                   </div>
               </section> 
               <!-- section-10 -->
               <section>
                   <figure>
                       <a href="">
                           <img id="image-8" src="/images/Arroz-Branco-com-camarões.jpg.webp" alt="">
                       </a>
                   </figure>
                   <div  class="title">
                       <h1>Tambaqui assado no forno</h1>
                       <div class="stars">
                           <i></i>
                           <i></i>
                           <i></i>
                           <i></i>
                           <i></i>
                       </div>
                   </div>
               </section>
               <!-- section-11 -->                
               <section>
                   <figure>
                       <a href="">
                           <img id="image-8" src="/images/pernil-assado-helmans.jpg" alt="">
                       </a>
                   </figure>
                   <div class="title"> 
                       <h1>Pernil assado na Helman's</h1>
                       <div class="stars">
                           <i></i>
                           <i></i>
                           <i></i>
                           <i></i>
                           <i></i>
                       </div>
                   </div>
               </section>  
                <!-- section-12 -->
                <section>
                    <figure id="image-7">
                        <a href="">
                            <img src="/images/rojoes-com-grelos-e-batatas-salteadas.jpg" alt="">
                        </a>                        
                    </figure>
                    <div class="title">
                        <h1>Rojões com Grelos e Batatas Salteadas</h1>
                        <div class="stars">
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                        </div>
                    </div>
                </section>
                <!-- section-13 -->
                <section>
                    <figure>
                        <a href="">
                            <img id="image-8" src="/images/faisao-a-bernardino.jpg" alt="">
                        </a>
                    </figure> 
                    <div  class="title">
                        <h1>Faisão à Bernardino</h1>
                        <div class="stars">
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                        </div>
                    </div>
                </section> 
                <!-- section-14 -->
                <section>
                    <figure>
                        <a href="">
                            <img id="image-8" src="/images/frango-a-bras.jpg" alt="">
                        </a>
                    </figure>
                    <div  class="title">
                        <h1>Frango à Brás</h1>
                        <div class="stars">
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                        </div>
                    </div>
                </section>
                <!-- section-15 -->                
                <section>
                    <figure>
                        <a href="">
                            <img id="image-8" src="/images/frango-panado-gratinado-em-molho-de-tomate.jpg" alt="">
                        </a>
                    </figure>
                    <div class="title"> 
                        <h1>Frango Panado Gratinado em Molho de Tomate</h1>
                        <div class="stars">
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                        </div>
                    </div>
                </section> 
           </article>
        </main>
        <!-- Footer -->
        <%- include('../partials/footer') -%>
    </div>
</body>
<script src="/script/index.js"></script>
</html>