<!DOCTYPE html>
<html lang="pt">
    <!-- Head -->
    <%- include('../partials/head') -%>
<body>
    <div>
         <!-- Header -->
         <%- include('../partials/header') -%>
        <main>
            <!-- Titulo Receitas  -->
            <div class="meat-title">
                <h1>Carnes</h1>
            </div>
            <!-- Artigo de Receitas -->
            <article class="article-main-recipe">
                <section>
                    <figure>
                        <a href="">
                            <img id="image-2" src="/images/Cupim-no-forno-fatiado.jpg" alt="">
                        </a>
                    </figure>
                    <div class="title">
                        <h1>Cupim no forno fatiado</h1>
                        <div class="stars">
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                        </div>
                    </div>
                </section>

                <section>
                    <figure>
                        <a href="">
                            <img id="image-2" src="/images/tambaqui-assado-no-forno.jpg" alt="">
                        </a>
                    </figure>
                    <div class="title">
                        <h1>Cupim no forno fatiado</h1>
                        <div class="stars">
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                        </div>
                    </div>
                </section>

                <section>
                    <figure>
                        <a href="">
                            <img id="image-2" src="/images/Peru-de-Natal.jpg.webp" alt="">
                        </a>
                    </figure>
                    <div class="title">
                        <h1>Cupim no forno fatiado</h1>
                        <div class="stars">
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                        </div>
                    </div>
                </section>
            </article>
        </main>
        <!-- Footer -->
        <%- include('../partials/footer') -%>
    </div>
</body>
<script src="/script/index.js"></script>
</html>