<!DOCTYPE html>
<html lang="pt">
    <!-- Head -->
    <%- include('../partials/head') -%>
    <title>Mesagem</title>
<body>
    <div class="container">
         <!-- Header -->
         <%- include('../partials/header') -%>
        <main>
            <article class="article-message">
                <h1>Mensagem recebida com sucesso <img src="/images/check.png" alt=""></h1>
                <p>Sua mensagem será respondida pelo e-mail assim que um de nossos administradores visualizar!</p>
            </article>
        </main>
        <!-- Footer -->
        <%- include('../partials/footer') -%>
    </div>
</body>
<script src="/script/index.js"></script>
</html>