<!DOCTYPE html>
<html lang="pt">
    <!-- Head -->
    <%- include('../partials/head') -%>
    <title>Política de privacidade</title>
<body>
    <div class="container">
         <!-- Header -->
         <%- include('../partials/header') -%>
        <main>
            <article class="privacy-policies">
                <h1>Política de Privacidade</h1>

                <p>
                    Nós respeitamos sua privacidade e estamos comprometidos em protegê-la. O objetivo desta Política de Privacidade é informar quais informações podemos coletar e como podem ser usadas. Esta declaração se aplica apenas a este site.
                </p>

                <h2>Que informações usamos e como elas são coletadas?</h2>
                <ul>
                    <li>
                        <p>
                            Informações que você envia voluntariamente para o site: Podemos coletar informações pessoais suas, como seu nome ou endereço de e-mail. Por exemplo, você pode enviar informações voluntariamente ao site, deixando um comentário, assinando um boletim informativo ou enviando um formulário de contato.
                        </p>
                    </li>
                    <li>
                        <p>
                            Informações coletadas automaticamente: coletamos automaticamente determinadas informações sobre você e o dispositivo com o qual você acessa o site. Por exemplo, quando você usa o site, registramos seu endereço IP, tipo de sistema operacional, tipo de navegador, site de referência, páginas visualizadas e as datas/horas em que você acessou o site. Também podemos coletar informações sobre as ações que você executa ao usar o nosso site, como links clicados.
                        </p>
                    </li>
                    <li>
                        <p>
                            Cookies: podemos registrar informações usando cookies, que são pequenos arquivos de dados armazenados no seu navegador pelo site. Podemos usar os cookies de sessão, que expiram quando você fecha o navegador, e os cookies persistentes, que permanecem no navegador até serem excluídos, para fornecer uma experiência mais personalizada no site.
                        </p>
                    </li>
                </ul>

                <h2>Como sua informação pode ser usada?</h2>

                <p>Podemos usar as informações coletadas das seguintes maneiras:</p>
                <ul>
                    <li>
                        <p>Para operar e manter o site;</p>
                    </li>
                    <li>
                        <p>
                            Para enviar informações promocionais, como boletins. Cada promoção por e-mail fornecerá informações sobre como desativar futuras correspondências;
                        </p>

                    </li>
                    <li>
                        <p>
                            Para enviar comunicações administrativas, como emails administrativos, emails de confirmação, avisos técnicos, atualizações de políticas ou alertas de segurança;
                        </p>
                    </li>
                    <li>
                        <p>Para responder aos seus comentários ou perguntas;</p>
                    </li>
                    <li>
                        <p>Para fornecer suporte ao usuário;</p>
                    </li>
                    <li>
                        <p>Para rastrear e medir a publicidade no site;</p>
                    </li>
                    <li>
                        <p>Proteger, investigar e impedir atividades ilegais ou não autorizadas.</p>
                    </li>
                </ul>

                <h2>Informação pessoal sensível</h2>

                <p>
                    Em nenhum momento você deve enviar informações pessoais sensíveis ao site. Isso inclui seu número de RG ou CPF, informações sobre raça ou origem étnica, opiniões políticas, crenças religiosas, informações sobre saúde, antecedentes criminais ou associações sindicais.
                </p>
                <h2>Anúncios</h2>
                <h3>Anúncios de Display (Banners)</h3>
                <p>
                    Este site é afiliado ao Google Adsense para fins de colocação de publicidade no site, e o Google coletará e usará certos dados para fins de publicidade.
                </p>

                <h3>Anúncios de Retargeting</h3>
                <p>
                    De tempos em tempos, o site pode lhe envolver em campanhas de remarketing com empresas terceiras, como Google, Facebook ou Instagram, exibidas no site. Essas empresas usam cookies para veicular anúncios com base nas visitas anteriores de alguém a determinado site.
                </p>

                <h3>Pixels de rastreamento de conteúdo patrocinado</h3>
                <p>
                    Este site pode participar de campanhas patrocinadas com várias redes, marcas e agências de influenciadores. Todo o conteúdo patrocinado é devidamente divulgado de acordo com os requisitos das leis brasileiras. Periodicamente, essas campanhas patrocinadas utilizam pixels de rastreamento (também conhecidos como web beacons), que podem conter cookies para coletar dados sobre uso e público-alvo. Essas informações são coletadas pela empresa patrocinadora para acompanhar os resultados da campanha. Nenhuma informação de identificação pessoal coletada pelo site é usada em conjunto com esses pixels de rastreamento.
                </p>
                <span>Bem-vindos ao Sauce. Divirta-se 🙂</span>
            </article>
        </main>
        <!-- Footer -->
        <%- include('../partials/footer') -%>
    </div>
</body>
<script src="/script/index.js"></script>
</html>