<!DOCTYPE html>
<html lang="pt">
    <!-- Head -->
    <%- include('../partials/head') -%>
<body>
    <div class="container">
        <main>
            <!-- Header -->
        <%- include('../partials/header') -%>
        
            <!-- Footer -->
        <%- include('../partials/footer') -%>
        </main>
    </div>
</body>
<script src="index.js"></script>
</html>